* {
	box-sizing: border-box;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 24px;
	font-weight: normal;
	line-height: 1.2em;
	margin: 0px;
	padding: 0px;
}

body {
	background-color: #CCCCCC;
}

h1 {
	font-size: 64px;
	margin-bottom: 24px;
}

#menu {
	background-color: #333333;
	color: #FFFFFF;
	height: 100%;
	padding: 24px;
	position: fixed;
	top: 0;
	left: 0;
	width: 400px;
}

#menu > h1 {
	font-weight: bold;
}



#content {
	position: fixed;
	top: 0;
	left: 400px;
	padding: 24px;
}

#form {
	display: grid;
	grid-template-columns: auto auto; /* Two columns */
	gap: 16px; /* Gap between rows and columns */
}

input[type=text],
input[type=password] {
	border-radius: 4px;
	border: 2px solid #666666;
}

div.button {
	cursor: pointer;
	color: #FFFFFF;
	display: inline-block;
	border-radius: 8px;
	background-color: #333333;
	padding: 8px 16px;
}

div.button:hover {
	opacity: 0.69;
}
